/* ---------------------
Colors Palette

blk #0f1a20;
red #ff2351;
white #f2f2f2;
light blue #4389ff;
medium blue #082c73;
--------------------- */


/* ---------------------
Global styles
--------------------- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
  margin-top: 0;
}

h3 {
  margin: 0;
}

a {
  color: #4389ff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ff2351;
}

.wrapper {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.button {
  background-color: #ff2351;
  padding: 10px;
  color: #f2f2f2;
  display: inline-block;
}

.button:hover {
  color: #0f1a20;
}


/* ---------------------
Navigation
--------------------- */
nav {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  z-index: 500;
}

nav a {
  display: inline-block;
  padding: 20px 20px;
  text-transform: uppercase;
  color: #0f1a20;
}

nav.a {
  color: #0f1a20;
}



/* ---------------------
Header and footer
--------------------- */

header {
  margin-top: 10px;
  padding-top: 40px;
  position: relative;
}

header, footer {
  background-color: #0f1a20;
  color: #f2f2f2;
}

.download {
  position: relative;
  margin-top: 15px;
}

/*   header   */

header h1, header h2 {
  color: #f2f2f2;
  font-weight: 100;
  margin: 0;
}

.profile-img {
  border-radius: 50%;
  float: left;
  margin: 30px;
  border: solid #f2f2f2 5px;
}




/*   Footer   */
footer {
  text-align: center;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}

i {
  color: #f2f2f2;
}



/* ---------------------
Work Experience
--------------------- */

.work {
  background-color: #f2f2f2;
}

h3 ~ p {
  margin: 0;
}

.job-desc p:first-of-type {
  margin-top: 0;
}

.job-desc {
  margin-bottom: 35px;
}

.col-narrow p {
  color: #4389ff;
}


/* ---------------------
Education
--------------------- */

.education {
  background-color: #f2f2f2;
  background: linear-gradient(rgba(242,242,242, 0.85), rgba(242,242,242,0.85)),
              url(https://unsplash.it/g/1920/1080?image=201) no-repeat fixed;
  background-size: cover;
  background-position: center;
}

p + h3 {
  margin-top: 25px;
}



/* ---------------------
Samples
--------------------- */

.samples {
  background-color: #ff2351;;
}

.samples h2 {
  color: #f2f2f2;
}

.reel {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.reel iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/*-----------------------
Media Queries
-----------------------*/

@media (min-width: 900px){

  .col-narrow {
    width: 30%;
    float: left;
  }
  
  .col-wide {
    width: 70%;
    float: left;
  }
  
}

@media (max-width: 899px){
  header {
    text-align: center;
  }
  
  .profile-img {
    width: 175px;
  }
  
  h1 {
    font-size: 45px;
  }
  
  h2 {
    font-size: 25px;
    margin-top: 0;
  }
  
  
}